---
name: "Yaml Lint"

on:
  workflow_call:
    inputs:
      runs-on:
        description: "Default runner"
        required: false
        type: string
        default: "ubuntu-latest"

permissions:
  contents: read

jobs:
  yamllint:
    name: yamllint
    runs-on: ${{ inputs.runs-on || 'ubuntu-latest' }}
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@28b28f6e4e9e3d997beb9dce86cfd8cf0ce7c7f6 # v47.0.3
      with:
        files: |
          **/*.yaml
          **/*.yml

    - name: Install yamllint
      if: steps.changed-files.outputs.any_changed == 'true'
      shell: bash
      run: |
        pip install --user yamllint

    - name: Run yamllint
      if: steps.changed-files.outputs.any_changed == 'true'
      shell: bash
      run: |
        yamllint --format github ${{ steps.changed-files.outputs.all_changed_files }}
