---
name: "Action Lint"

on:
  workflow_call:

permissions:
  contents: read

jobs:
  actionlint:
    name: actionlint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Get changed files
      id: changed-files
      uses: bjw-s-labs/action-changed-files@015416e33c709af88f84a4496f4030c1f0ef212e # v0.5.0
      with:
        patterns: |-
          .github/workflows/**.yaml
          .github/workflows/**.yml

    - name: Run actionlint
      if: steps.changed-files.outputs.changed_files != '[]'
      uses: bjw-s/action-actionlint@b346813e82708106544f48a93a5b3fbeeb8e37eb # v0.1.1
      with:
        actionlint_config: .github/actionlint.yaml
        file_pattern: ${{ join(fromJSON(steps.changed-files.outputs.changed_files), ' ') }}
